:root {
  --Temps: 30s;
  --CouleurTxt: rgb(98, 199, 249);
  --ShadowBlur: rgb(0, 60, 255);
  scrollbar-color: rgb(0, 213, 255) rgba(0, 0, 0, 0.85);
}
/*la 'scrollbar' est édité deux fois à cause du comportement de différent browser (firefox vs edge et chrome)*/
::-webkit-scrollbar {
  width: 0.5vw;
  background-color: rgba(0, 0, 0, 0.85);
}
::-webkit-scrollbar-thumb {
  background: rgb(50, 68, 204);
  border-radius: 0.5vw;
}
body {
  font-family: Leelawadee UI;
  color: VAR(--CouleurTxt);
  width: 100%;
  margin: 0%;
  padding: 0%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-image: url(../backgroundB.jpg);
  background-repeat: repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  font-size: 1.6vw;
}

nav {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 4vw;
  background-color: rgba(0, 0, 0, 0.85);
  border-bottom: 0.5vw solid;
  border-image: linear-gradient(
      rgb(198, 0, 248, 0.5),
      rgb(67, 19, 170),
      rgb(0, 213, 255),
      rgb(67, 19, 170),
      rgb(198, 0, 248, 0.5)
    )
    100;
  position: sticky;
  z-index: 10000;
  top: 0;
}
h1 {
  text-shadow: 0 0 2vw var(--ShadowBlur);
  font-size: 2.8vw;
  font-family: Lucida Handwriting;
}
h2 {
  max-width: fit-content;
  font-size: 1.49vw;
  height: fit-content;
}
h3 {
  text-shadow: 0 0 2vw var(--ShadowBlur);
  font-size: 1.5vw;
  font-family: Lucida Handwriting;
}
p {
  font-size: 1.5vw;
}
a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: VAR(--CouleurTxt);
  width: 100%;
  height: 100%;
}

img {
  width: 15vw;
  height: 15vw;
}

.boite-bouton {
  font-family: Lucida Handwriting;
  border-width: 0.2vw;
  border-style: solid;
  border-image: linear-gradient(
      to right,
      rgb(0, 255, 166),
      rgb(0, 109, 139),
      rgb(50, 68, 204),
      rgb(53, 0, 128),
      rgb(251, 0, 255)
    )
    1;
  background-color: rgb(0, 0, 0, 0.8);
  width: 17%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  height: 100%;
  background-image: radial-gradient(
    circle,
    rgb(25, 0, 255),
    rgb(19, 44, 170),
    rgb(31, 77, 150),
    rgba(0, 141, 248, 0.5),
    rgb(0, 0, 0, 0)
  );
  margin: 0;
}

main {
  border-width: 0.2vw;
  border-style: solid;
  border-top: none;
  border-image: linear-gradient(
      to bottom,
      rgb(0, 255, 166),
      rgb(0, 109, 139),
      rgb(50, 68, 204),
      rgba(53, 17, 255),
      rgba(18, 152, 255)
    )
    1;
  width: 90%;
  height: auto;
  margin: 0%;
  display: flex;
  flex-wrap: wrap;
  align-content: start;
  padding: 0vw 2vw;
  background-color: rgb(0, 0, 0, 0.85);
}
.section-a {
  border-width: 0.2vw;
  border-style: solid;
  border-image: linear-gradient(
      to top,
      rgb(0, 255, 166),
      rgb(0, 109, 139),
      rgb(50, 68, 204, 1),
      rgb(53, 0, 128, 1),
      rgb(251, 0, 255, 1)
    )
    1;

  background-image: radial-gradient(
    circle,
    rgb(21, 0, 255),
    rgba(37, 19, 170, 0.7),
    rgb(104, 31, 150, 0),
    rgba(0, 165, 248, 0.3),
    rgb(0, 0, 0, 0)
  );

  margin-top: 1vw;
  margin-bottom: 1vw;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 40vw;
}
.boite-avatar {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 40%;
}
.mon-nom {
  color: #b4d1ff;
  display: flex;
  justify-content: center;
  width: 100%;
  height: fit-content;
  align-items: center;
}
.qualificatif-nom {
  position: absolute;
  top: 30.5vw;
}

.sections {
  border-width: 0.2vw;
  border-style: solid;
  border-image: linear-gradient(
      to top,
      rgb(0, 255, 166),
      rgb(0, 109, 139),
      rgb(50, 68, 204, 1),
      rgb(53, 0, 128, 1),
      rgb(251, 0, 255, 1)
    )
    1;

  background-image: linear-gradient(
    to left,
    rgb(53, 0, 128, 0.1),
    rgb(53, 0, 128, 0.5)
  );
  margin: 2vw 0 2vw;
  display: flex;
  justify-content: center;
  align-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  height: 43vw;
}

.gauche-b {
  width: 40%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-content: space-around;
  flex-wrap: wrap;
}

.droite_b {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}
.bas {
  width: 25vw;
  height: 25vw;
}

.boite-moi {
  border-width: 0.3vw;
  border-style: solid;
  border-image: linear-gradient(
      to right,
      rgb(0, 255, 166),
      rgb(0, 109, 139),
      rgb(50, 68, 204),
      rgb(53, 0, 128),
      rgb(251, 0, 255)
    )
    1;
  background-color: rgb(0, 0, 0, 0.5);
  width: 70%;
  height: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10%;
}

.lien-engager {
  display: flex;
  justify-content: center;
  align-items: end;
  width: 100%;
  height: 15%;
}
.engage {
  width: 40%;
  text-shadow: 0 0 0.5vw var(--ShadowBlur);
}

.titre-sections {
  display: flex;
  align-content: center;
  justify-content: center;
  margin: 0%;
  width: 100%;
  height: 15%;
}
.diviser {
  display: flex;
  justify-content: center;
  align-items: start;
  width: 30%;
  height: 80%;
  transform: scale(0.8);
  transition: 1.2s;
}
.individuel-c-boite {
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: center;
  height: 95%;
  width: 95%;
  border: 0.2vw solid;
  border-image: linear-gradient(
      to top,
      rgb(0, 204, 255),
      rgb(0, 109, 139),
      rgb(50, 68, 204, 1)
    )
    1;
  border-style: groove;
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.6)
  );
}

#competence > :nth-child(3) > :first-child {
  transform: scale(1.2);
}

.diviser:hover {
  transform: scale(1);
}
.icone-competence {
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.description-c {
  text-align: center;
  margin: 0;
  padding: 0;
}
dt {
  margin-bottom: 1vw;
}
.contient-point {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  background-color: rgb(0, 0, 0, 0.3);
}
.point {
  white-space: nowrap;
  text-align: left;
  width: 40%;
  font-size: 1.2vw;
}
.section_d_bas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-evenly;
  width: 100%;
  height: 80%;
  margin: 0;
  padding: 0;
}
.carte {
  list-style-type: none;
  width: 30%;
  height: 40%;
  border: 0.2vw solid;
  border-image: linear-gradient(
      to top,
      rgb(0, 204, 255),
      rgb(0, 109, 139),
      rgb(50, 68, 204, 1)
    )
    1;
  border-style: groove;
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.25),
    rgba(0, 0, 0, 0.6)
  );
}
.carte > p {
  padding-left: 1vw;
}
.grid-container {
  display: grid;
  margin-left: 10%;
  grid-template-columns: 20% 30% 30%;
  grid-template-rows: 15% 15% 15% 15% 15%;
  grid-template-areas:
    "header header detail"
    "header header detail"
    "element-a element-b element-b"
    "element-a element-c element-c"
    "element-a element-d element-d";
  gap: 1vw;
  height: 65%;
  width: 100%;
}
.grid-container > div {
  display: flex;
  justify-content: center;
  align-content: center;
  border-image: linear-gradient(
      to top,
      rgb(0, 204, 255),
      rgb(0, 109, 139),
      rgb(50, 68, 204, 1)
    )
    1;
  box-shadow: 0 0 2vw var(--ShadowBlur);
}
.fabbulle {
  grid-area: header;
  display: flex;
  flex-direction: column;
  background-color: rgb(0, 0, 0, 0.5);
}
.formation {
  grid-area: detail;
  background-color: rgb(0, 0, 0, 0.5);
}
.decoupeuse-laser {
  grid-area: element-b;
  background-color: rgb(0, 0, 0, 0.5);
}
.imprimante-fdm {
  grid-area: element-c;
  background-color: rgb(0, 0, 0, 0.5);
}
.modelisation {
  grid-area: element-d;
  background-color: rgb(0, 0, 0, 0.5);
}
.eveil-tech {
  grid-area: element-a;
  background-color: rgb(0, 0, 0, 0.5);
}
.contact {
  display: flex;
  justify-content: space-around;
  height: 20vw;
}
.titre_contact {
  height: 50%;
}
.contient-contact {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 50%;
}
.lien-contact {
  width: 90%;
  height: 30%;
}
.icone-static {
  background-image: radial-gradient(
    circle,
    rgb(0, 0, 0, 1),
    rgb(0, 0, 0, 1),
    rgb(0, 0, 0, 1)
  );
  border-radius: 50%;
  font-size: 4vw;
  text-shadow: 0 0 3vw var(--ShadowBlur);
  box-shadow: 0 0 1vw var(--ShadowBlur);
}

.fa {
  background-image: radial-gradient(
    circle,
    rgb(0, 0, 0, 1),
    rgb(0, 0, 0, 1),
    rgb(0, 0, 0, 1)
  );
  border-radius: 50%;
  font-size: 4vw;
  text-shadow: 0 0 3vw var(--ShadowBlur);
  transition: text-shadow 0.5s, background-image 2s;
  box-shadow: 0 0 1vw var(--ShadowBlur);
}
.fa:hover {
  background-image: radial-gradient(
    circle,
    rgb(0, 60, 255, 0.8),
    rgb(0, 60, 255, 0.5),
    rgb(0, 60, 255, 0.2),
    rgb(0, 60, 255, 0.1)
  );
  box-shadow: 0 0 5vw var(--ShadowBlur);
  text-shadow: 0 0 10vw rgb(125, 200, 255);
}
footer {
  background: linear-gradient(
    to top,
    rgba(0, 0, 50, 1),
    rgba(0, 0, 50, 1),
    rgba(0, 0, 0, 0.6)
  );
  width: 100%;
  height: 10vw;
}
