:root {
  --Temps: 30s;
}

body {
  font-family: Leelawadee UI;
  color: rgb(72, 110, 233);
  width: 100%;
  margin: 0%;
  padding: 0%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  background-image: linear-gradient(
      to left,
      rgba(10, 10, 60, 0.2),
      rgba(0, 0, 20, 0)
    ),
    url(../25805.jpg);
  background-repeat: repeat;
  background-size: 100%;
  background-attachment: fixed;
}
a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: rgb(72, 110, 233);
  width: 100%;
  height: 100%;
}
p {
  font-size: 1.5vw;
}
img {
  width: 15vw;
  height: 15vw;
}
h1 {
  font-size: 3vw;
  font-family: Lucida Handwriting;
}
header {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 4vw;
  background-color: rgba(0, 0, 0, 0.8);
  border-bottom: 0.5vw solid;
  border-image: linear-gradient(
      rgb(198, 0, 248, 0.5),
      rgb(67, 19, 170),
      rgb(0, 213, 255),
      rgb(67, 19, 170),
      rgb(198, 0, 248, 0.5)
    )
    100;
}
.ButtonBox {
  font-family: Lucida Handwriting;
  border-width: 0.2vw;
  border-style: solid;
  border-image: linear-gradient(
      to right,
      rgb(0, 255, 166),
      rgb(0, 109, 139),
      rgb(50, 68, 204),
      rgb(53, 0, 128),
      rgb(251, 0, 255)
    )
    1;
  background-color: rgb(0, 0, 0, 0.6);
  width: 20%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Menu {
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 80%;
  height: 100%;
  background-image: radial-gradient(
    circle,
    rgb(98, 0, 255),
    rgb(97, 19, 170),
    rgb(104, 31, 150),
    rgb(198, 0, 248, 0.5),
    rgb(0, 0, 0, 0)
  );
}

h2 {
  max-width: fit-content;
  font-size: 1.49vw;
}

.all {
  max-width: fit-content;
  position: relative;
}
.Afixe {
  position: relative;
  bottom: 1.35vw;
  width: 6.78vw;
}

main {
  border-width: 0.2vw;
  border-style: solid;
  border-top: none;
  border-image: linear-gradient(
      to bottom,
      rgb(0, 255, 166),
      rgb(0, 109, 139),
      rgb(50, 68, 204),
      rgba(53, 17, 255),
      rgba(18, 152, 255)
    )
    1;
  width: 90%;
  height: auto;
  margin: 0%;
  display: flex;
  flex-wrap: wrap;
  align-content: start;
  padding: 0vw 2vw;
  background-color: rgb(0, 0, 0, 0.85);
}
.SectionA {
  border-width: 0.2vw;
  border-style: solid;
  border-image: linear-gradient(
      to top,
      rgb(0, 255, 166),
      rgb(0, 109, 139),
      rgb(50, 68, 204, 1),
      rgb(53, 0, 128, 1),
      rgb(251, 0, 255, 1)
    )
    1;

  background-image: radial-gradient(
    circle,
    rgb(21, 0, 255),
    rgba(37, 19, 170, 0.7),
    rgb(104, 31, 150, 0),
    rgb(198, 0, 248, 0.3),
    rgb(0, 0, 0, 0)
  );

  margin-top: 1vw;
  margin-bottom: 1vw;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 40vw;
  /*fade to set*/
}
.IconBox {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 40%;
}
.Mon-Nom {
  color: #b5b5b5;
  display: flex;
  justify-content: center;
  width: 100%;
  height: fit-content;
}
.Content-animation {
  width: 20vw;
  height: 1.7vw;
}
.test-animationA {
  border-right: 0.33vw solid rgb(41, 115, 233);
  width: 1.35vw;
  height: 2.03vw;
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  max-width: fit-content;
  animation: mymove var(--Temps) infinite;
  animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
}
.fitall {
  max-width: fit-content;
  position: relative;
  bottom: 1.35vw;
}
.AALPHA {
  opacity: 1;
  left: 0.203vw;
  animation: displayA var(--Temps) infinite;
  animation-timing-function: steps(1, jump-start);
}
.ABravo {
  opacity: 0;
  bottom: 3.1vw;
  left: 0.2vw;
  animation: displayB var(--Temps) infinite;
  animation-timing-function: steps(1, jump-start);
}
.ACharlie {
  opacity: 0;
  bottom: 6.4vw;

  animation: displayC var(--Temps) infinite;
  animation-timing-function: steps(1, jump-start);
}
@keyframes mymove {
  0% {
    width: 27.159vw;
  }
  16.6% {
    width: 5.06vw;
  }
  32.2% {
    width: 27.159vw;
  }
  50% {
    width: 5.06vw;
  }
  66.4% {
    width: 27.159vw;
  }
  83% {
    width: 5.06vw;
  }
  100% {
    width: 27.159vw;
  }
}
@keyframes displayA {
  0% {
    opacity: 1;
  }
  16.6% {
    opacity: 1;
  }
  32.2% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  66.4% {
    opacity: 0;
  }
  83% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes displayB {
  0% {
    opacity: 0;
  }
  16.6% {
    opacity: 0;
  }
  32.2% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  66.4% {
    opacity: 0;
  }
  83% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes displayC {
  0% {
    opacity: 0;
  }
  16.6% {
    opacity: 0;
  }
  32.2% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  66.4% {
    opacity: 1;
  }
  83% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.Sections {
  border-width: 0.2vw;
  border-style: solid;
  border-image: linear-gradient(
      to top,
      rgb(0, 255, 166),
      rgb(0, 109, 139),
      rgb(50, 68, 204, 1),
      rgb(53, 0, 128, 1),
      rgb(251, 0, 255, 1)
    )
    1;

  background-image: linear-gradient(
    to left,
    rgb(53, 0, 128, 0.05),
    rgb(53, 0, 128, 0.4)
  );
  margin: 2vw 0 2vw;
  display: flex;
  justify-content: center;
  align-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  height: 47vw;
}
.gaucheB {
  width: 35%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}
.titre-sectionB {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}
.droiteB {
  margin-top: 10%;
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bas {
  opacity: 0.7;
  width: 25vw;
  height: 25vw;
}
.AboutMeBoxe {
  border-width: 0.3vw;
  border-style: solid;
  border-image: linear-gradient(
      to right,
      rgb(0, 255, 166),
      rgb(0, 109, 139),
      rgb(50, 68, 204),
      rgb(53, 0, 128),
      rgb(251, 0, 255)
    )
    1;
  background-color: rgb(0, 0, 0, 0.5);
  width: 70%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inner-box {
  width: 90%;
  height: 90%;
}
.CompetenceBoxe {
  display: flex;
  width: 90%;
  height: 90%;
  border: solid;
  border-width: 0.2vw;

  border-image: linear-gradient(
      to top,
      rgb(0, 255, 166),
      rgb(0, 109, 139),
      rgb(50, 68, 204, 1),
      rgb(53, 0, 128, 1),
      rgb(251, 0, 255, 1)
    )
    1;
  background-color: rgb(0, 0, 0, 0.4);
}
#titre-Sections {
  display: flex;
  align-content: center;
  justify-content: center;
  margin: 0%;
  width: 100%;
  height: 10%;
}
.Diviser {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 80%;
}
.IndividualCBoxe {
  height: 95%;
  width: 95%;
  border: 0.2vw solid;
  border-image: linear-gradient(
      to top,
      rgb(0, 204, 255),
      rgb(0, 109, 139),
      rgb(50, 68, 204, 1)
    )
    1;
  border-style: groove;
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.15),
    rgba(0, 0, 0, 0.5)
  );
}
.SectonD-bas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-evenly;
  width: 100%;
  height: 90%;
}
.DiviserCard {
  width: 30%;
  height: 40%;
  border: 0.2vw solid;
  border-image: linear-gradient(
      to top,
      rgb(0, 204, 255),
      rgb(0, 109, 139),
      rgb(50, 68, 204, 1)
    )
    1;
  border-style: groove;
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.15),
    rgba(0, 0, 0, 0.5)
  );
}
footer {
  width: 100%;
  height: 15%;
}
